@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

.App {
    text-align: center;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

.search, .selected {
    height: 48px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #979797;
    border-radius: 0px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #171717;
    margin: 0 6px;
    display: flex;
    align-items: center;
}

.input {
    padding-left: 16px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

input::placeholder {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #8F92A1;
}

.search {
    width: 440px;
}

.selected {
    width: 113px;
    padding: 0 19px 0 16px;
    justify-content: space-between;
}

img {
    width: 19px;
}

.search-result {
    border: 1px solid #979797;
    margin: 4px 6px 0 6px;
    padding: 13px 11px 10px 14px;
}

.rating {
    width: 240px;
    height: 302px;
    border: 1px solid #979797;
    margin: 4px 6px 0 6px;
    position: fixed;
    padding: 13px 0 20px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.genre {
    width: 125px;
    height: 150px;
    border: 1px solid #979797;
    margin: 4px 6px 0 6px;
    position: fixed;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #000000;
    padding: 18px 0 19px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-result {
    margin-bottom: 12px;
}

.result-text {
    display: flex;
    justify-content: space-between;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #000000;
}

.result-text span:last-child {
    color: #777777;
}

.result-rating {
    display: flex;
}

.half-star {
    width: 14px;
}

.rating div {
    display: flex;
    align-items: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #000000;
}

.rating div {
    position: relative;
}

.rating div input {
    margin-right: 12px;
}

.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.checkbox:after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    border: 1px solid black;
}

.checkbox:checked:before {
    content: '';
    position: absolute;
    left: -5px;
    width: 9px;
    height: 6px;
    background: #000;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    margin-top: 6px;
    margin-left: 4px;
}

.checkbox:checked:after {
    content: '';
    position: absolute;
    left: 0;
    width: 17px;
    height: 3px;
    background: #000;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    margin-top: 5px;
    margin-left: 3px;
}

label {
    display: flex;
}

label span {
    display: flex;
    padding-left: 28px;
}

